#testing
name: Deployment
on:
  push:
    branches:
      - main
      - dev
env:
  MONGODB_DB_NAME: gha-demo
jobs:
  test:
    environment: testing
    runs-on: ubuntu-latest
    env:
      MONGODB_CLUSTER_ADDRESS: cluster0.2iufzza.mongodb.net/?appName=Cluster0
      MONGODB_USERNAME: ${{ secrets.MONGODB_USERNAME }}
      MONGODB_PASSWORD: ${{ secrets.MONGODB_PASSWORD }}
      PORT: 8080
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      # This step caches the node_modules directory for faster builds.
      - name: Cache dependencies
        # An 'id' is assigned to this step so its output can be referenced later.
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          # The path to the directory to cache. We cache node_modules directly.
          path: node_modules
          # The cache key. A new cache is created only when package-lock.json changes.
          key: v1-deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      # This step installs dependencies, but only if the cache was not restored.
      - name: Install dependencies
        # The 'if' condition checks the output of the 'cache-node-modules' step.
        # It runs 'npm ci' only on a "cache miss".
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        # if there is no if condition ,Its first step/default behaviour is to completely delete the local node_modules directory.
        # Then, it installs a fresh set of packages based exactly on your package-lock.json file.
        run: npm ci
      - name: Run server
        run: npm start & npx wait-on http://127.0.0.1:$PORT
      - name: Run tests
        run: npm test
      - name: Output information
        run: |
          echo "MONGODB_USERNAME: $MONGODB_USERNAME"
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        env:
          PORT: 3000
        run: |
          echo "MONGODB_DB_NAME: $MONGODB_DB_NAME"
          echo "${{ env.PORT }}"
